{
  "sourceType": "module",
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "modules": "commonjs" }]],
      "plugins": [
        ["babel-plugin-webpack-alias-7", { "config": "webpack.dev.js" }],
        "istanbul"
      ]
    }
  }
}
